DOCTYPE html
html
	head
		title Gulp Templates
		meta(charset="UTF-8")
		meta(name="description", content="This is a sample HTML page for gulp-templates")
		meta(name="keywords", content="HTML, Node.js, Gulp")
	body
		h1 Gulp Templates
		p This is a basic HTML template